{% block script %}

    {% block get_user %}
    <script>
        $(document).ready(function() {
        function fetchData() {
            $.ajax({
                url: 'http://127.0.0.1:8000/demo/',
                method: 'GET',
                success: function(data) {
                    let results = data.results;
                    let html = '<ul>';
                    results.forEach(function(item) {
                        html += '<li> Name: ' + item.name + '</li>';
                    });
                    html += '</ul>';
                    $('#data-container').html(html);
                },
                error: function(error) {
                    // Handle the error
                    $('#data-container').html('Error: ' + error.statusText);
                }
            });
        }

        fetchData();setInterval(fetchData, 5000);
    </script>
    {% endblock %}

    {%  %}

{% endblock %}