<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <title>{% block title %}Management{% endblock %}</title>
    {% block statics %}
        <link rel="stylesheet" type='text/css' href="{% static 'libs/bootstrap.min.css' %}"/>
        <link rel="stylesheet" type='text/css' href="{% static 'sass/index.scss' %}"/>

        <link rel="stylesheet" href="{% static '' %}" />
    {% endblock %}
</head>
<body>
    {% block header %}
        <div class="main">
            <div class="main__head">
                <div class="main__head--logo">
                    <img class="main__head--logo__img" src='https://unsplash.it/50/50'>
                </div>
                <h3 class="main__head--header">Title</h3>
                
                <div class="main__head--info">
                    {% if request.user.is_authenticated %}
                    #profile image gon be here
                        <p class="main__head--info__text">{{request.user.username}}</p>
                        <p class="main__head--info__role">{% if request.user.is_superuser is True %}Admin
                                                          {% else %}Staff</p>
                                                          {% endif %}  
                    {% else %}
                        <p class="main__head--info__text-misc"></p>
                        <p class="main__head--info__role">Anonymous</p>
                    {% endif %}
                </div>
            </div>

        </div>
    {% endblock %}
    
    {% block sidebar %}
    <div class = "sidebar">
        <ul class="sidebar__nav">
            <div class="sidebar__nav--elem">
                <li class="sidebar__nav--elem__group"><a href="{% url 'index' %}">Home</a></li>
            </div>

            <div class="sidebar__nav--elem">
                <li class="sidebar__nav--elem--group"><a href="{% url 'user_informatics' %}">Info</a></li>
            </div>
            
            <div class="sidebar__nav--elem">
                <li class="sidebar__nav--elem--group"><a href="{% url 'user_perms' %}">Roles and permissions</a></li>
            </div>

            <div class="sidebar__nav--elem">
                <li class="sidebar__nav--elem--group"><a href="{% url 'user_settings' %}">Settings</a></li>
            </div>
            
            {% if reuest.user.is_superuser is True %}
                <div class="sidebar__nav--elem">    
                    <li class="sidebar__nav--elem--group"><a href="{% url 'admin' %}">Admin</a></li>
                </div>
                {% elif request.user.is_staff is True and request.user.is_superuser is False %}

            {% endif %}
        </ul>
    </div>
    {% endblock %}
 
    {% block content %}
        

    {% endblock %}
</body>
</html>