<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <title>{% block title %}Management{% endblock %}</title>
    {% block statics %}
        <link rel="stylesheet" type='text/css' href="{% static 'libs/bootstrap.min.css' %}"/>
        <link rel="stylesheet" type='text/css' href="{% static 'css/base.css' %}"/>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>   

        <link rel="stylesheet" href="{% static '' %}" />
    {% endblock %}
</head>
<body>
    {% block header %}
        <div class="main">
            <div class="main__head">
                <div class="main__head--logo">
                    <img class="main__head--logo__img" src='https://unsplash.it/50/50'>
                </div>
                <h3 class="main__head--header">Title</h3>
                
                <div class="main__head--info">
                    {% if request.user.is_authenticated %}
                        <p class="main__head--info__text">{{request.user.username}}</p><p class="main__head--info__role">{% if request.user.is_superuser is True %}<a class="tag" href="{% url 'admin:index' %}" target="_blank">Admin</a>{% else %}Staff</p>{% endif %}{% else %}<p class="main__head--info__text-misc"></p> <p class="main__head--info__role">Anonymous</p>
                    {% endif %}
                </div>
            </div>

        </div>
    {% endblock %}
    
    {% include './components/nav.j2'%}
 
    {% block content %}
        

    {% endblock %}

    
</body>

<script>
{% block script %}
    
{% endblock %}
</script>

</html>