{% extends 'base.j2' %}

{% block content %}

<ul>
{% if request.user %}
<h2>{{request.user.username}}</h2>
{% endif %}
{% for i in students %}
    <li id='{{i.id}}'>{{i.name}}</li>
{% endfor %}
</ul>
{% endblock %}