{% extends 'base.j2' %}

{% block content %}

{% if request.user.is_authenticated %}
<ul>
<h2>{{request.user.username}}</h2>
<ul>
{% for i in user %}
    <li id=user-{{i.id}}><a href="{% url 'user_view' i.username %}">{{i.username}}</a></li>
{% endfor %}
</ul>
{% else %}
    <p class="Error__meaagae">NOT A VALID USER</p>
{% endif %}
{% endblock %}