/venv/
/linux-venv/

*/__pycache__/*
**/__pycache__/*

/migrations/
/**/migrations/

/students/static/fonts/Fonts.zip
/refs/
meta/

**/fonts/

*.env
*.log
*.txt




*.otf
*.ttf

#Images
*.png
*.jpg
*.jpeg
*.heif
*.gif
