@mixin Flex($dir, $wrap, $align-content, $justify-content, $align-items) {
    display: flex;
    flex-direction: $dir;
    flex-wrap: $wrap;
    align-content: $align-content;
    justify-content: $justify-content; 
    align-items: $align-items;
}

@mixin Grid($dir, $align-content, $justify-content, $align-items, $justify-items) {
    display: grid;
    align-content: $align-content;
    align-items: $align-items;
    justify-content: $justify-content;
    justify-items: $justify-items; 
}

@mixin RoleTag() {
    .tag {
        // @if()
        background: #515151;
        color: #0097e2;
        font-weight: 800;
    }
}