@use '../init';
@import "../utils/mixins";

.sidebar{
    padding:10px 0px 0px 0px;
    display: contents;

    &__nav{
       
        @include Flex(row, wrap, normal, center, center, 0px);
        gap: 10vw;
        
        &--elem{
            list-style: none;
            &>a{
                color: #3594fab8;
                &:hover{
                    color: #235182b8;
                }
            }
            &__group{
                &--role{
                    @include RoleTag();
                }
            }
        }
    }
}