@use '../init';

.sidebar{
    padding:10px 0px 0px 0px;
    display: contents;

    &__nav{
       
        @include Flex(row, wrap, normal, center, center);
        gap: 10vw;
        
        &--elem{
            list-style: none;
            &>a{
                color: #3594fab8;
                &:hover{
                    color: #235182b8;
                }
            }
        }
    }
}