@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

$google-blue: #1a73e8;
$border-color: #dadce0;
$text-color: #202124;
$label-color: #5f6368;
$error-color: #d93025;
$white: #fff;

@mixin input-field($width: 100%) {
  width: $width;
  padding: 13px 15px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: $text-color;
  background: transparent;
  border: 1px solid $border-color;
  border-radius: 4px;
  outline: none;
  transition: border 0.2s ease;
  box-sizing: border-box;

  &:hover {
    border-color: darken($border-color, 10%);
  }

  &:focus {
    border: 2px solid $google-blue;
    padding: 12px 14px;
  }

  &.error {
    border-color: $error-color;
    
    &:focus {
      border: 2px solid $error-color;
    }
  }
}

@mixin floating-label {
  position: absolute;
  left: 15px;
  top: 16px;
  color: $label-color;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  pointer-events: none;
  transition: all 0.2s ease;
  background-color: transparent;
  padding: 0 4px;
}

@mixin label-floated($color: $google-blue) {
  top: -8px;
  left: 11px;
  font-size: 12px;
  color: $color;
  background-color: $white;
  font-weight: 500;
}


.google-input {
  position: relative;
  margin-bottom: 24px;
  width: 100%;

  input {
    @include input-field;

    // Float label on focus
    &:focus ~ label {
      @include label-floated;
    }

    &:not([value=""]) ~ label,
    &:valid ~ label {
      @include label-floated;
    }

    &.error ~ label {
      color: $error-color;
      
      &:not([value=""]),
      &:valid {
        @include label-floated($error-color);
      }
    }
  }

  label {
    @include floating-label;
  }
}

.input-sm {
  @include input-field(250px);
}

.input-md {
  @include input-field(350px);
}

.input-lg {
  @include input-field(500px);
}

.input-full {
  @include input-field(100%);
}
