{% block script %}
    <script>

        $(document).ready(function() {
        function fetchData() {
            $.ajax({
                url: 'api url',
                method: 'GET',
                success: function(data) {
                    let results = data.results;
                        let html = '<ul>';
                        results.forEach(function(item) {
                            html += '<li> Name: ' + item.name + '</li>';
                        });
                        html += '</ul>';
                        $('#data-container').html(html);
                    {% endblock %}
                },
                error: function(error) {
                    $('#data-container').html('Error: ' + error.statusText);
                }
            });
        }
        });

        fetchData();setInterval(fetchData, 5000);
    </script>
    {% endblock %}