@font-face {
    font-family: "Nunito";
    src: url('./Nunito/static/Nunito-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Nunito";
    src: url('./Nunito/static/Nunito-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Nunito";
    src: url('./Nunito/static/Nunito-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Nunito";
    src: url('./Nunito/static/Nunito-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Nunito";
    src: url('./Nunito/static/Nunito-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Nunito";
    src: url('./Nunito/static/Nunito-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Nunito";
    src: url('./Nunito/static/Nunito-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Nunito";
    src: url('./Nunito/static/Nunito-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

