@font-face {
    font-family: "Nunito";
    src: url('./Nunito/static/Nunito-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Nunito";
    src: url('./Nunito/static/Nunito-Bold.ttf');
    font-style: Bold;
    font-weight: 700;
}

@font-face {
    font-family: "Open Sans";
    src: url('./Open_Sans/static/OpenSans-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Nunito";
    src: url('./Nunito/static/Nunito-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Nunito";
    src: url('./Nunito/static/Nunito-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Nunito";
    src: url('./Nunito/static/Nunito-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "SF Pro";
    src: url('./SF_Pro/SF-Pro-Text-Regular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Nunito";
    src: url('./Nunito/static/Nunito-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

