<!DOCTYPE html>
</html> <!DOCTYPE html>
<html lang="en">
{% load static %}
{% load bootstrap_icons %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="theme-color" content="#f7cac9">

    <title>{% block title %}Management {% endblock %}</title>
        <link rel="stylesheet" type='text/css' href="{% static 'libs/bootstrap.min.css' %}"/>
        <link rel="stylesheet" type='text/css' href="{% static 'css/base.css' %}"/>
        <link rel="stylesheet" type='text/css' href="{% static 'css/input.css' %}" />


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>   


    {% block statics %}{% endblock %}
</head>
<body>

 
    {% block content %}
        

    {% endblock %}

    
</body>

<script>
{% block script %}
    
{% endblock %}
</script>

</html>