{% extends 'base.j2' %}
{% block content %}
{% load static %}
{% load tags %}
{% if request.user.is_authenticated %}
<ul>
<h2>{{ request.user.username }}</h2>
{% Count %}
{# {% InTime:request.user %} #}
{% for field_name in user|get_fields %}
    <tr>
        <th>{{ field_name }}</th>
    </tr>
{% endfor %}

<div id='data-container'>
</div>
    <script type="text/javascript">
        $(document).ready(function() {
            function fetchData() {
                $.ajax({
                    url: 'http://192.168.29.240:8000/api/users/',
                    method: 'GET',
                    success: function(data) {
                        let results = data;
                        let html = '<ul>';
                        results.forEach(function(item) {
                            if (item.username) {
                                html += '<tr> <a href="user/' + item.username + '" target="_blank" title="' + item.username + '-profile">' + item.username + '</a></li>';
                            } else {
                                html += '<tr> Name: Unknown</tr>';
                            }
                        });
                        html += '</ul>';
                        $('#data-container').html(html);
                    },
                    error: function(error) {
                        $('#data-container').html('Error: ' + error.statusText);
                    }
                });
            }

            fetchData();
            setInterval(fetchData, 5000);
        });
    </script>

{% endif %}
{# <p> User not Authenticated, <a href="{% url 'user_login' %}">login</a>/<a href="{% url "user_register" %}">signup</a> to access </p> #}
{% endblock %}
