$colors : (

    primary: "#ffffff",
    secondary: "#ff0000",
    tertiary: "#ffbb00",

    shadow_primary: "#a0a0a0a1",
    shadow_secondary: "#a0a0a0a1",
    
    border_primary: "",
    border_secondary: "",
    border_hover: "",
    
    button_primary: "",
    button_secondary: "",
    button_hover: "",
    button_click: "",

    text_primary:"",
    text_secondary:"",

        $status: (
            success: "",
            failure: "",
            Danger: "",
            error: "",
            important: "",
        ),
);