{# for code_snippets for DRY #}
{% register tags%}
{% macro dump_users(users) -%}
    <ul>
    {%- for user in users %}
        <li><p>{{ user.username|e }}</p>{{ caller(user) }}</li>
    {%- endfor %}
    </ul>
{%- endmacro %}

{% call(user) dump_users(list_of_user) %}
    <dl>
        <dt>Realname</dt>
        <dd>{{ user.realname|e }}</dd>
        <dt>Description</dt>
        <dd>{{ user.description }}</dd>
    </dl>
{% endcall %}


{% macro TableFormatter(model, class_name) %}
    <table> 
        <tr class="header">
            {% for field in model._meta.fields() %}
                <th class="{{class_name}}__{{field}}">{{field}}</i>
            {% endfor %}
        </tr> 
        <tr>
            {% for user in users %}
                <th class="{{class_name}}__{{user.username}}">{{user.fields}}</i>
            {% endfor %}
        </tr>

    </table>
{%- endmacro %}


{% macro ajax(args) %}
<script>
    $(document).ready(function() {
        function fetchData() {
            $.ajax({
                url: '{{ args.api_url }}',
                method: '{{ args.method }}',
                success: function(data) {
                    let results = data;
                    let html = '<ul>';
                    results.forEach(function(item) {
                        html += '<li> Name: ' + item.name + '</li>';
                        html += '<li> Age: ' + item.age + '</li>';
                        html += '<li> Grade: ' + item.grade + '</li>';
                        html += '<li> Roll number: ' + item.roll_number + '</li>';
                        html += '<li> Father name: ' + item.father_name + '</li>';
                        html += '<li> Father age: ' + item.father_age + '</li>';
                        html += '<li> Father occupation: ' + item.father_occupation + '</li>';
                        html += '<li> Mother name: ' + item.mother_name + '</li>';
                        html += '<li> Mother age: ' + item.mother_age + '</li>';
                        html += '<li> Mother occupation: ' + item.mother_occupation + '</li>';
                    });
                    html += '</ul>';
                    $('#data-container').html(html);
                },
                error: function(error) {
                    $('#data-container').html('Error: ' + error.statusText);
                }
            });
        }

        fetchData();
        setInterval(fetchData, 5000);
    });
</script>
{% endmacro %}
