    {% block sidebar %}
    <aside class = "sidebar">
        <ul class="sidebar__nav">
            <li class="sidebar__nav--elem"><a href="{% url 'index' %}">Home</a></li>

            <li class="sidebar__nav--elem"><a href="{% url 'user_informatics' %}">Page-1</a></li>
            
            <li class="sidebar__nav--elem"><a href="{% url 'user_perms' %}">Page-2</a></li>

            <li class="sidebar__nav--elem"><a href="{% url 'user_settings' %}">Page-3</a></li>
            {% if request.user.is_superuser is True %}
                <li class="sidebar__nav--elem__group"><a href="{% url 'admin:index' %}">Admin</a></li>
            {% elif request.user.is_staff is True and request.user.is_superuser is False %}

            {% endif %}
            </aside>
            
        </ul>
    </div>
    {% endblock %}