{% extends '../base.j2' %}

{% load crispy_forms_tags %}
{% load static %}
{% block title %}{{user.username}}'s profile {% endblock %}
{% block statics %} <link rel='stylesheet' href={% static "./css/components/user_profile.css"%} /> {% endblock %}
{% block content %}

    <div class="main container">
        <div class="main__content">
            <div class="main__content--head">
                <img class="main__content--head__image" src="{{user.image}}" alt="{{user.username}}'s profile" />
                <div class="main__content--head__duo">
                    <h1 class="main__content--head__duo--name">{{ user.username }}</h1> <span class="main__content--head__duo--role tag">{% if user.is_superuser == True and user.is_staff == True %}Admin{% else %}User{% endif %}</span>
                </div>
            </div>
            <p class="main__content--email"><a href= "mailto:{{user.email}}">{{ user.email }}</a></p>
            <p class="main__content--fullname">{{ user.first_name }} {{ user.last_name }}</p>
            <p class="main__content__more-details">more details<span class="main__content--more-icon "></span></p>
            {% if request.user.is_superuser == True and request.user.is_staff == True%}{{ Deleteform|crispy }}{% endif %}

            {% if request.user.username == user.username %}
                <a class="main " href=''>Edit profile</a>
                <a href=''>Change Password</a>
            {% elif request.user.username != user.username and request.user.is_superuser == True and request.user.is_staff == True %}
                <a href=''>Edit {{user.username}}'s profile</a>
            {% else %}

            {% endif %}
        </div>    
    </div>

{% endblock %}